.welcomeJumbo {
  min-height: 500px;
  margin-top: 100px;
  margin-bottom: 300px;
}
.andyOllie {
  float: left;
}
.jimmy-jr {
 float: left;
 min-height: 400px;
 width: auto;
}

.pestos-outside {
  max-width: 55%;
  height: : auto;
  float: right;
}

.orderBtn {
  background-color: lightblue;
  border-radius: 25%;
  border-style: outset;
  border-width: thick;
  border-color: gray;
}

#orderForm {
  display: none;
}
.pizza {
  display: none;
}
